.card-1 h1 {
color:teal;
margin-left: 70px;
border-style: solid;
border-width: 3px;
border-color: black;
padding: 4px;
border-radius: 10px;
text-align: center;
  display: inline-block;
}
.card{background-color:antiquewhite}
.card-1 h2 {
  color:teal;
  margin-left: 45px;
border-style: solid;
border-width: 3px;
border-color: black;
padding: 4px;
border-radius: 10px;
text-align: center;
  display: inline-block;
  
}
/* Style for card 1 (your box model example */
  
{}