.card-1 h1 {
color:teal;
margin-left: 68px;
border-style: solid;
border-width: 3px;
border-color: black;
padding: 4px;
border-radius: 10px;
text-align: center;
width: 1.9in;
margin-bottom: 0.1px;
font-size:30px ;
}
hr{width: 3in;
border: 1.5px solid black;
margin-top: 15px;}
.card{background-color:antiquewhite}
.card-1 h2{
  color:teal;
  margin-left:15px;
border-style: solid;
border-width: 3px;
border-color: black;
padding:4px;
border-radius: 10px;
text-align: center;
 display: inline-block;
 margin-top: 10px;
 font-size:30px ;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5in;
  width: 3.5in;
  border: 3px solid black;
  border-radius: 15px;
  margin: auto;
}
.vertical-line{
  border-left: 3px solid black;
  height: 1.8in;
  position: absolute;
  left: 50%;
  top: 20%;
}

